<table class="table table-striped table-hover">
  <thead>
    <tr>
      @for (header of columns; track header.field) {
        <th>{{ header.name }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of items; track row) {
      <tr>
        @for (header of columns; track header.field) {
          <td>
            @switch (header.type) {
              @case ('image') {
                <img [src]="row[header.field]" class="rounded-2" width="85" height="85" />
              }
              @case ('currency') {
                {{ $any(row[header.field]) | currency: 'BRL' }}
              }
              @default {
                {{ row[header.field] }}
              }
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
